input{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
label{
    color: crimson;
}
p{
    color:crimson;
}
select{
    background-color: black;
    color: white;
}
button{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    background-color: black;
    color:white;
}
.beta{
    border:60px;
    margin:80px;
    width:300px;
    background-color: white;
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-colorful-science-education-wallpaper_23-2148489183.jpg?w=2000);
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOLZ5XhC8iC3PUqm-bFC5wy0szLnJKCGns_g&usqp=CAU);

}